@{ 
    ViewData["Titulo"] = "Sobre";
    ViewData["Mensagem"] = "Aplicativo Vendas Web MVC";
    ViewData["Autor"] = "Douglas Silveira";
}

<h2>@ViewData["Titulo"]</h2>
<h3>@ViewData["Mensagem"]</h3>


<p>By @ViewData["Autor"]</p>


<address>
    <strong>Mais Informações:</strong> <a href="https://www.linkedin.com/in/douglasgsilveira/">Douglas Silveira no LinkedIn</a>
</address>
