@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>

<address>
    Douglas Silveira<br />
    Belo Horizonte, MG<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:douglasgsilveira@gmail.com">douglasgsilveira@gmail.com</a><br />
</address>
